.div_button{
    margin: 2px;
}


div button{
    margin: 2px;
    border-radius: 10em;
}

.clicked {
    background-color: crimson;
    color:blanchedalmond
}

.unclicked {
    background-color: orange;
    color: black;
}

button:hover {
    background-color: black;
    color:blanchedalmond
}